services:
  restic-exporter:
    build: .
    image: ghcr.io/adityathebe/restic-exporter:local
    environment:
      RESTIC_REPOSITORY: ${RESTIC_REPOSITORY:-/data}
      RESTIC_PASSWORD: ${RESTIC_PASSWORD:-}
      B2_ACCOUNT_ID: ${B2_ACCOUNT_ID:-}
      B2_ACCOUNT_KEY: ${B2_ACCOUNT_KEY:-}
      REFRESH_INTERVAL: ${REFRESH_INTERVAL:-7200}
      LISTEN_PORT: ${LISTEN_PORT:-8001}
      LOG_LEVEL: DEBUG
    ports:
      - '8001:8001'
    restart: unless-stopped
