services:
  restic-exporter:
    build: .
    image: ghcr.io/adityathebe/restic-exporter:latest
    environment:
      - RESTIC_REPOSITORY=/data
      - RESTIC_PASSWORD=<password_here>
      # - RESTIC_PASSWORD_FILE=/restic_password_file
      # - REFRESH_INTERVAL=1800
      # - LISTEN_PORT=8001
    ports:
      - '8001:8001'
    volumes:
      - /host_path/restic/data:/data
      # - /host_path/restic/password_file:/restic_password_file:ro
    restart: unless-stopped
